body, html {
margin:0; 
padding:0;
background-color:#C7B18B;
font: normal 14px/1.8 Georgia, Helvetica, "Microsoft YaHei", 微软雅黑, Verdana, Arial, sans-serif;
}

a:focus {outline:none;-moz-outline:none;}
input,textarea {outline:none;}
img {border:0;}/*解决在IE8中图片链接显示边框的问题*/

ul {list-style:none;}

a {color:#963C3C; text-decoration:none;}/*963C3C,814e2d*/
a:hover {color:#00A8E1;}/*4E7071,7B2B36,c7a38b*/

p {
margin:1.2em 0;
padding:0 1em;
line-height:1.6;
}
h1 {
margin:0.5em 0;
padding:0 0.5em;
font-size:160%;
}

table {
margin:1.2em 0.5em;
padding:0;
}

.align_r {text-align:right;}
.align_c {text-align:center;}
.float_l {float:left;}
.float_r {float:right;}
.clearer { height: 0.1em; clear: both;}

.db {display:block;}

.boxshadow {
-webkit-box-shadow:0 0 3px #333;
-moz-box-shadow:0 0 3px #333;
box-shadow:0 0 3px #333;
}
.boxshadow_in {
-webkit-box-shadow:0 0 3px #333 inset;
-moz-box-shadow:0 0 3px #333 inset;
box-shadow:0 0 3px #333 inset;
}
.light_up {
transition:all 0.16s ease-in 0s;
}
.light_up:hover {
background-color:#FCFAF4;
}

/************************** 菜单栏.CSS ****************************/
#top_menu {
margin:0;
padding:0;
width:100%;
height:40px;
background-color:#2F1312;
background: rgba(47,19,18,0.6);
position:fixed;
top:0;
border-bottom:4px double #C7B18B;
z-index:2;
}
#t_m_center {
margin:0 auto;
padding:0;
height:100%;
width:960px;
position:relative;
}
#t_m_center:after {display:block;content:"";clear:both;}
#title {
margin:0;
padding:0;
float:left;
height:100%;
width:360px;
position:relative;
}
#title:after {display:block;content:"";clear:both;}
#title a {
display:block;
float:left;
height:100%;
width:200px;
margin:0;
padding:0;
background:url("/images/icons/title.png") no-repeat 36px 0;
}
#hometip {
margin:0;
padding:0;
height:36px;
width:36px;
visibility:hidden;
}
#title a:hover #hometip {visibility:visible;}
#title p {
margin:8px 0 0 8px;
padding:0 0 0 8px;
float:left;
width:130px;
border-left:2px groove #ccc;
font: normal 12px/1.0 "Microsoft YaHei", 微软雅黑, Verdana, Arial, sans-serif;
font-size:12px;
color:#aaa;
}


#top_nav {
float:right;
margin:0;
padding:0;
width:500px;
height:40px;
position:relative;
list-style:none;
}
#top_nav:after {display:block;content:"";clear:both;}
#t_n_li {
float:left;
margin:0 20px;
padding: 0;
height:40px;
width:40px;
white-space: nowrap;
}
#t_n_li a {
margin:2px;
padding:0;
display:block;
height:36px;
width:36px;
}
#t_n_li a:hover {
margin:0;
width:40px;
height:40px;
background-color:#180A09;
border-right: 2px inset #5A2918;
}
#t_n_li img {
width:100%;
height:100%;
}
#top_nav #selected {
float:left;
margin:0 20px;
padding: 0;
height:40px;
width:40px;
white-space: nowrap;
background-color:#180A09;
border-right: 2px inset #5A2918;
}
#top_nav #selected img {
width:100%;
height:100%;
}

.nav_bg {
background-image:url("/images/icons/navbg-36.png");
background-repeat:no-repeat;
}

.nav_about { background-position: 0 0; width: 36px; height: 36px; } 
.nav_blog { background-position: -41px 0; width: 36px; height: 36px; } 
.nav_music { background-position: -82px 0; width: 36px; height: 36px; } 
.nav_pictures { background-position: -123px 0; width: 36px; height: 36px; } 
.nav_sayings { background-position: -164px 0; width: 36px; height: 36px; } 
.nav_x { background-position: -205px 0; width: 36px; height: 36px; } 

#t_n_li a:hover .nav_bg, #top_nav #selected .nav_bg {
background-image:url("/images/icons/navbg-40.png");
background-repeat:no-repeat;
}

#t_n_li a:hover .nav_about, #top_nav #selected .nav_about {background-position: 0 0; width: 40px; height: 40px;} 
#t_n_li a:hover .nav_blog, #top_nav #selected .nav_blog {background-position: -45px 0; width: 40px; height: 40px;} 
#t_n_li a:hover .nav_music, #top_nav #selected .nav_music {background-position: -90px 0; width: 40px; height: 40px;} 
#t_n_li a:hover .nav_pictures, #top_nav #selected .nav_pictures {background-position: -135px 0; width: 40px; height: 40px;} 
#t_n_li a:hover .nav_sayings, #top_nav #selected .nav_sayings {background-position: -180px 0; width: 40px; height: 40px;} 
#t_n_li a:hover .nav_x, #top_nav #selected .nav_x {background-position: -225px 0; width: 40px; height: 40px;} 


/************************* 页面标题.CSS **************************/
#page_title {
margin:45px auto 10px;
padding:10px 20px 0;
width:900px;
height:80px;
position:relative;
}
#p_t_img {margin:0;padding:0;width:133px;height:80px;float:left;}
#page_title h2 {
margin:0;
padding:0 150px;
font-size:180%;
}
#page_title a {color:#000000;}
#page_title p {
margin:0 17px;
padding:0;
font-style:italic;
line-height:1.8;
border-top:1px solid #000;
float:left;
}

/************************* 页面主内容框架.CSS ********************************/
#out_wrap { 
margin:10px auto;
padding:0;
width:920px;
border:1px solid #DFDBD3; 
-webkit-box-shadow:0 0 8px -2px #333;
-moz-box-shadow:0 0 8px -2px #333;
box-shadow:0px 0px 8px -2px #333;
}

#wrap {
margin:0;
padding:0;
background: none repeat scroll 0 0 #F8F3EA;
border: 10px solid #CFBD9C;
/*min-height: 760px;*/
overflow: hidden;
position: relative;
width: 900px;
/*
-webkit-box-shadow:0 0 5px 1px #aaa;
-moz-box-shadow:0 0 5px 1px #aaaaaa;
box-shadow:0 0 6px #333;
*/
}

/************************* 博客页面样式.CSS ********************************/
.post_frame {
margin:20px 10px 40px;
padding:0;
width:620px;
position:relative;
border:1px solid #DEDEDE;
}
.post_h2 {
margin:5px 20px 10px 85px;
padding:0;
font-size:18px;
border-bottom:1px solid #aaa;
}
/*
.post_h2 a {text-decoration: none;color:963C3C;}
.post_h2 a:hover {color:#4E7071;}/*81622D*/
.p_i_plus {margin:0;padding:0;font-size:10pt;}
.post_abst {
margin:10px 1em;
padding:0;
font-size:14px;
line-height:1.8;
}
.post_abst img {
max-width:400px;
}
/*
.read_full {
color:#E3E1E1;
text-shadow:#BBBBBB 0 -1px, #FFFFFF 0 1px;
float:right;
}
*/
.readmore {
color:#000;
margin:2px 1em 0;
padding:0;
text-shadow:#BBBBBB 0 -1px, #FFFFFF 0 1px;
float:right;
background-color:#CFBD9C;
border:3px double #F8F3EA;
position:absolute;
right:0;
bottom:0;
}

.post_date {
margin:6px 1em 0 1em;
padding:0;
width:60px;
float:left;
text-align:center;
color:#E3E1E1;
border:1px solid #B2B2B2;
}
.post_date li {
margin:0;
padding:0;
line-height:1.2em;
border-bottom:1px solid #F8F3EA;
}
.post_date li:first-child {
background-color:#917644;
text-shadow:1px 1px #fff;
}
.post_date li.last-child {
font-size:150%;
font-weight:bold;
line-height:1.5em;
color:#917644;
text-shadow:1px 1px #000;
background-color:#fff;
}

.post_info {
margin:10px 1em 0;
padding:5px 0 2px;
height:24px;
font-size:14px;
line-height:24px;
border-top:1px dashed #aaa;
clear:left;
}
.post_info li {display:inline-block;margin:0;padding:0 10px 0 25px;}
.p_i_bg {
background-image: url("/images/icons/post_info-v.png");
background-repeat:no-repeat;
}
/*
.date {
background:url("/images/icons/calendar_date.png") no-repeat left;
}
.author {
background:url("/images/icons/user.png") no-repeat left;
}
.cat {
background:url("/images/icons/cat.png") no-repeat left;
}
.tag {
background:url("/images/icons/tag.png") no-repeat left;
}
.link {
background:url("/images/icons/link.png") no-repeat left;
}
*/
.date {background-position: 0 0; }
.cat {background-position: 0 -25px;}
.link {background-position: 0 -50px;}
.tag {background-position: 0 -75px;}
.author {background-position: 0 -100px;}


#sidebar {
margin:0 5px 0 0; 
padding:0;
float:right;
width: 250px;
position: relative;
}
.side_content {
margin:20px 0; 
padding:0;
width: 100%;
border-radius:4px 4px;
border:1px solid #DEDEDE;
}
.side_title {
margin:0; 
padding:0;
text-align:center;
background:#a1834c;
color:#fff;
border-radius:4px 4px 0 0;
border:1px solid #F8F3EA;
}
.side_title a:hover {color:#fff;}
.side_title a {color:#F8F3EA;}

#s_about {
margin:20px 0;
padding:0;
height:104px;
width: 100%;
background-color:#CCCED2;/*#CCC3B2;CED3C8*/
}
#s_about a {
margin:2px 10px 2px 2px;
padding:0;
height:100px;
width:100px;
float:left;
background:url("/images/V.gif") no-repeat;
}
#s_about h4 {
margin:10px auto 0;
padding:10px;
color:#FF0000;
font-size:16px;
text-shadow:#BBBBBB 0 -1px, #FFFFFF 0 1px;
}
#s_about p {
margin:0;
padding:0;
}

#recommend {
margin:10px 0;
padding:0;
width: 100%;
list-style: none;
}
#recommend a {
margin: 0;
padding: 5px 10px 5px 20px;
background:url("/images/icons/cats_li.gif") no-repeat scroll 10px 12px transparent;
}

#category {
margin:10px 0;
padding: 0;
width: 100%;
display: table;
list-style: none;
}
#category li {
margin: 0;
padding: 0;
display: table-row;
width: 100%;
white-space: nowrap;
clear: both;
}
#category li:hover {background:#E3D5BD;}
#category a {
margin: 0;
padding: 5px 10px 5px 20px;
display: table-cell;
text-align: left;
text-decoration: none;
font-size:14px;
line-height:24px;
background:url("/images/icons/cats_li.gif") no-repeat scroll 10px 12px transparent;
transition: all 400ms ease 0s;
-moz-transition: all 400ms ease 0s;
-webkit-transition: all 400ms ease 0s;
-o-transition: all 400ms ease 0s;
}
#category a:hover {padding-left:27px;#color:#000;}
#category sup {
display: table-cell;
text-align: right;
padding: 3px 10px;
}

#tags_wrap {
margin:0 auto;
padding:10px;
}
#tags_wrap a {
margin:0 3px;
text-decoration:none;
white-space: nowrap;
transition: all 400ms ease 0s;
}

#post_date {
margin:0 auto;
width:250px;
text-align:center;
}
/*
#post_date select {width:100%;}
*/

#archive_list dl {
margin:10px 5px;
padding:5px 0;
text-align:center;
font-size:16px;
}
#archive_list dt {
margin:0;
padding:0;
cursor:pointer;
background-color:#CFBD9C;
background-repeat:no-repeat;
background-position:150px 12px;
background-image:url("/images/icons/expand-tri.png");
}
#archive_list .f_dt {background-position:150px -17px;}
#archive_list dd {
margin:0;
padding:0;
font-size:14px;
}
.expand { overflow:visible;}
.collapse { height:20px;overflow:hidden;}

.pagination {
margin:0 10px 10px;
padding:0;
}
button {
display:inline-block;
margin:0;
padding:0;
width:24px;
height:24px;
background-color:#C7B18B;
cursor:pointer;
}
.selected {background-color:#F8F3EA;}

/** 以下用于博客分类、标签、归档等页面 **/
#blog_sort {
margin:0;
padding:10px 20px;
width:600px;
}
#blog_sort h1 {
margin:10px 0;
padding:0;
text-align:center;
font-size:140%;
border-bottom:1px solid #aaa;
}
#blog_sort ul {
margin:10px 0;
padding:0;
list-style-type: none;
}
#blog_sort li {
margin:0;
padding:0;
line-height:1.8;
}

.blog_time {
/*display: inline-block;*/
color: #999999;
font-size:100%;
margin: 0 1em;
padding: 0;
}
/********************* 博客文章样式.CSS ***************************/

#post_wrapper {
margin:0;
padding:0 40px;
}
#post_wrapper h1 {
margin:0.5em 0;
padding:0 0 5px;
font-size:20px;
border-bottom:1px solid #aaa;
text-shadow: 1px 1px 0 #FFFFFF;
}
#post_wrapper h2 {
margin:1em 0;
padding:0;
font-size:18px;
line-height:1.0;
}
#post_wrapper h3 {
margin:1em 0;
padding:0;
font-size:16px;
line-height:1.0;
}
#post_wrapper h4 {
margin:1em 0;
padding:0;
font-size:14px;
line-height:1.0;
}

#post_wrapper p {
margin:1.2em 0;
padding:0;
font-size:14px;
line-height:1.8;
}

#post_wrapper ul {
margin:1em 0;
padding:0 2em;
list-style:square;
}
#post_wrapper ol {
margin:1em 0;
padding:0 2em;
}
#post_wrapper li {
margin:0.5em 0;
padding:0 0.5em;
}

#post_info {margin:0;padding:0;}
#post_info ul {
margin:10px 0 2em;
padding:5px 5px 2px;
height:24px;
font-size:90%;
list-style:none;
background-color:#e3d5bd;
}
#post_info li {
display:inline-block;
margin:0;
padding:0 10px 0 25px;
}
#post_nxpr {
margin:2em 0 0;
padding:10px 0;
border-top:1px solid #aaaaaa;
}
#post_nxpr:after {display:block;content:"";clear:both;}
#post_nxpr ul {margin:0;padding:0;list-style:none;}
#post_nxpr li {
margin:0;
padding:0;
width:48%;
}
#post_pre {
float:left;
overflow:hidden;
}
#post_next {
float:right;
text-align:right;
overflow:hidden;
}

.post_video {
width:480px;
height:400px;
margin: 10px auto 10px;
padding: 10px;
}
.post_fig {
text-align:center;
}
.post_fig img {
border: 0.5em solid #E0DFCC;
border-radius: 0.5em 0.5em 0.5em 0.5em;
}
.figcaption {
text-align:center;
}
/************************** About.CSS ******************************/
.rolinList {
margin: 10px auto;
padding: 0;
width: 98%;
height: auto;
text-align: center;
}

.rolinList li {
margin: 0;
padding: 0;
list-style:none;
margin-bottom:1px;
border:1px solid #DADADA;
}

.rolinList h2 { 
width:100%; 
height:40px;
margin:0 auto;
padding: 10px 0;
background:transparent;
font-size:150%; 
line-height:40px; 
color:#333; 
cursor:pointer;
}
.rolinList h3 {margin:1em 0;padding:0 0.5em;font-size:140%;line-height:1.0;}

.self_intro_en {
width: 100%;
/*height:750px;/*不加height英文信息显示不全，不知为何？*/
margin: 0;
padding:5px 0 0;
font-size: 100%;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
line-height:1.5;
text-align:left;
text-rendering: optimizelegibility;
}
.self_intro_zh {
width: 100%;
margin: 0;
padding:1px 0;
font-size: 120%;
font-family: LiSu,微软雅黑,'Comic Sans MS',san-serif;
text-align: center;
}

.headshot {
float: left;
width: 200px;
height: 200px;
margin:0 1em;
padding-right: 5px;
border-right: 1px dashed black;
}
.email {
margin:0 20px 0 0;
padding:0;
padding-left:24px;
background:no-repeat left top url("/images/icons/ico_email.gif");
}
.c_weibo {
margin:0 0 0 20px;
padding:0;
padding-left:24px;
background:no-repeat left top url("/images/icons/sina_weibo.png");
}

.emphasize { 
color: #762D20;
font-family: "Comic Sans MS",san-serif;
font-style: italic;
font-weight: bold;
}

.emphasize_zh { 
color: #762D20;
font-family: "微软雅黑",san-serif;
font-weight: bold;
}

/******************************************************************/
#top_icons {
/*float:right;*/
position:absolute;
top:10px;
right:25px;
margin:0; 
padding:0;
height:30px;
border-bottom: 1px solid black;
}

#top_icons a {
float:right;
margin:3px 5px;
padding:0;
height:24px;
width:24px;
}
#google_search {
margin:10px;
position:absolute;
bottom:0;
right:15px;
}

#footer {
margin:0 auto 5px;
padding:0;
width:900px;
color:#474747;/*#978158*/
text-align:center;
}
#footer:after {content:"";display:block;clear:both;}
.copyright {margin:0;padding:0;font-size:80%;}
.bottom_nav {margin:0;padding:0;font-size:100%;}
.bottom_nav a {color:#474747;}
.bottom_nav a:hover {text-decoration:underline;}

/****************** HTML Text Formatting *******************/
pre {
margin: 1em 1em;
padding: 1em;
background: #DFDBD3;
border: 1px solid #9C9994;
-webkit-box-shadow:0 2px 3px #333 inset;
-moz-box-shadow:0 2px 3px #333 inset;
box-shadow:1px 1px 3px #333 inset;
overflow: auto; /*不加此句，文章中的代码块边界和背景会覆盖右侧浮动的 side-bar*/
white-space:pre-wrap;
}

code {
font-size: 80%;
font-family: 'Lucida Console',Monaco,'Courier New',Courier,monospace;
}
kbd {background-color:#DFDBD3;border:1px solid #9C9994;}

blockquote {
margin:2em 40px;
padding:1em 30px 0 30px;
background:#F1E9DB left top no-repeat url("/images/icons/quote-y-1.png");
position:relative;
font-size:14px;
line-height:1.8;
-webkit-box-shadow:0px 0px 8px -2px #333;
-moz-box-shadow:0px 0px 8px -2px #333;
box-shadow:0px 0px 8px -2px #333;
}
blockquote:after {
content: "";
position: relative;
right:-30px;
display: block;
background: right bottom no-repeat url("/images/icons/quote-y-2.png");
width: 100%;
height: 30px;
}

.quote_src {
position:absolute;
bottom:0;
right:0;
margin:0 35px 5px auto;
display:block;
text-align:right;
z-index:2;
color:#63615E;
}
.quote_src:before {content:'\2014\2014';}

/******************************* Gotop.CSS ************************************/
#gotop {
    border:1px #ccc solid;
    background-color:#81622D;
    background: rgba(129,98,45,0.6);
    width:20px;
    height:60px;
    position:fixed;
    _position:absolute;
    bottom:10px;
    right:10px;
    display:none;
    cursor:pointer;
    line-height:20px;
    text-align:center;
    color:#ffffff;
    font-size:80%;
}

#gotop a {
    text-decoration:none;
}

/*********************** Sayings.CSS ****************************/
#weibo {
margin:30px 5px;
padding:0;
float:right;
width:250px;
height:800px;
overflow:hidden;
}
#sayings {
margin:0;
padding:0;
width:650px;
}

/*********************** Music.CSS ****************************/
#music_side {
margin:20px 20px 0 0; 
padding:0;
float:right;
width: 200px;
position: relative;
border:1px solid #DEDEDE;
}
.m_s_album {
margin: 10px auto;
padding: 2px;
width: 150px;
height: 150px;
border: 1px solid #C7A38B;
}

.m_s_album a {
margin: 0;
padding: 0;
display: block;
width: 150px;
height: 150px;
position: relative;
}
.m_s_album a:hover {
width: 154px;
height: 154px;
top: -2px;
left: -2px;
font-size: 120%;
font-weight: bold;
}

.m_s_album img {
display: block;/*很关键，否则在图片下方会出现5px的空隙！*/
width: 100%;
height: 85%;
margin: 0;
padding:0;
}
.m_s_album p {
width: 100%;
height: 15%;
margin: 0;
padding: 0;
font-size: 90%;
color: #C7A38B;
text-align: center;
background-color: #fff;
}


#music_main {
margin:0;
padding:0;
width:650px;
}

.music_frame {
margin:20px 10px;
padding:5px;
width:620px;
border:1px solid #DEDEDE;
}
/*.music_frame:after {display:block;content:"";clear:both;}*/
.m_f_title {
margin:0 0 10px;
padding:0 0 0 50px;
height:45px;
background: url("/images/headphone.png") no-repeat left top;
border-bottom:1px solid #ccc;
position:relative;
}

.m_f_title h1 {
margin:0;
padding:0 0 5px 5px;
font-size:18px;
line-height:18px;
border-left:1px solid #ccc;
}

.m_f_title p {
margin: 0;
padding:0 0 5px 5px;
font-size:10px;
#height:22px;
color:#979797;
border-left:1px solid #ccc;
}
.m_f_mid {
margin:10px auto;
padding: 5px;
width:610px;
height:160px;
background-color: #C7A38B;
position:relative;
-webkit-box-shadow:0px 0px 8px -2px #333;
-moz-box-shadow:0px 0px 8px -2px #333;
box-shadow:0px 0px 8px -2px #333;
}
.album_imgbg {
float: left;
margin:0 10px 0 0;
padding:0;
background: url("/images/album_img.png") no-repeat 0 0 transparent;
height: 160px;
width: 220px;
border-right:1px solid #ccc;
}
.album_imgbg img {
margin:2px 0 0 2px;
padding:0;
height:156px;
width:156px;
}
.m_f_mid embed {margin:5px 0;padding:0;}
.m_f_mid ul {
margin:5px 0 0;
padding:0;
font-size:15px;
line-height:1.5;
color:#fff;
text-shadow:1px 1px #000;
}
.m_f_mid li {
margin: 5px 0;
padding:0;
list-style:none;
}
.music_ribbon {
margin:0;
padding:0;
display:block;
width:80px;
height:80px;
position:absolute;
bottom:-5px;
right:-5px;
}
.music_abst {
margin:0;
padding:0;
font-size:14px;
line-height:1.8;
}

#post_wrapper .m_f_mid ul {
margin:5px 0 0 0;
padding:0;

}
#post_wrapper .m_f_mid li {
margin: 5px 0;
padding:0;
}

#p_album_cover { /*用于专辑介绍页面中*/
margin:0;
padding:0;
width:200px;
height:200px;
float:right;
border:4px ridge;
}
/*************************** Pictures.CSS ********************************/
#pic_show {
margin:0 auto;
padding:0;
width:900px;
height:700px;
}
#pic_show iframe {
width:900px;
height:700px;
}

/**************************** X页面样式.CSS ********************************/
#x_h2 {
margin:20px 0;
padding:0 20px;
}
#x_h3 {
margin:20px 0;
padding:0 20px;
}
#duoshuo {
margin:20px 0;
padding:0 20px;
}
/*************************** Responsive Design ********************************/
@media only screen and (max-width:760px)
{
}